<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common::head}"></head>
<body>
<!-- Navigation Bar -->
<nav th:replace="~{fragments/common::nav}"></nav>

<!-- Hero Section -->
<div class="hero" style="background-image: url('/images/homeBackground.jpg');">
    <div class="overlay"></div>
    <div class="hero-content">
        <h1>Язовир Засмяно</h1>
        <p></p>
    </div>
</div>

<!-- Content Section -->
<div class="container my-5">
    <div class="row text-center">
        <div class="col-lg-12 text-justify">
            <h2>История на язовира</h2>
            <p>Язовир Засмяно е построен през 1956 година по поречието на река Суха.
                Намира се на 25км от гр. Варна.
                През годините се доказва като любимо място за риболов и отдих в региона.
                Язовирът е дом на различни видове риба и предоставя отлични условия за спортен риболов.</p>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-lg-6 text-justify">
            <h2>Удобства и услуги</h2>
            <ul>
                <li>Бунгала за нощувка</li>
                <li>Зони за риболов</li>
                <li>Наем на лодки и оборудване</li>
                <li>Пешеходни и велосипедни маршрути</li>
            </ul>
        </div>
        <div class="col-lg-6 text-justify">
            <h2>Информация за посетители</h2>
            <p >Моля, спазвайте правилата за риболов и отдих, за да осигурим безопасност и комфорт на всички гости. Риболовът е разрешен само с подходящо  риболовно оборувдане. Настаняването в бунгала се извършва след предварителна резервация.</p>
        </div>
    </div>

</div>

<!-- Footer -->
<footer th:replace = "~{fragments/common::footer}"> </footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
