<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common::head}"></head>
<body>
<!-- Navigation Bar -->
<nav th:replace="~{fragments/common::nav}"></nav>

<!-- Booking Form Section -->
<div class="container my-5">
    <h2 style="margin-bottom: 30px; text-align: center;">Нашите бунгала</h2>
    <div class="row">
        <!-- Iterate over bungalows -->
        <div class="col-md-4 bungalow-card d-none bungalow-section"
             th:each="bungalow : ${bungalows}"
             th:object="${bungalow}"
             th:id = "*{id}">
            <!-- Use specific image for each bungalow -->
            <img th:src="'images/bungalow' + ${bungalow.id} + '.jpg'" alt= "Bungalow Image">
            <h3 th:text="'Бунгало ' + ${bungalow.id}"></h3>
            <p th:text="'Капацитет: ' + ${bungalow.capacity} + ' легла'"></p>
            <p th:text="'Цена: ' + ${bungalow.price} + ' лева/нощувка'"></p>
        </div>
    </div>
</div>

<!-- Booking Form Section -->
<div class="container my-5 booking-form">
    <h2 style="margin-bottom: 3px; text-align: center;">Резервирай бунгало</h2>
    <form th:action="@{/book-bungalow}" th:method="post" th:object="${bookingData}">
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="number" class="h4 mb-2"></label>
            </div>
            <select class="browser-default custom-select"
                    id="number"
                    name="number"
                    th:field="*{number}"
                    th:errorclass="'is-invalid alert-danger'">
                <option value="">Избери номер на бунгало</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <small class="invalid-feedback text-danger">You must select a style!</small>
        </div>
        <div class="mb-3">
            <label for="startDate" class="form-label">Дата на настаняване</label>
            <input type="date" class="form-control" id="startDate" name="startDate" required
                   th:min="${#temporals.format(today, 'yyyy-MM-dd')}" th:field="*{startDate}"
                   th:errorclass="'is-invalid alert-danger'">
            <div class="invalid-feedback text-danger">Моля, въведете дата.</div>
        </div>
        <div class="mb-3">
            <label for="endDate" class="form-label">Дата на напускане</label>
            <input type="date" class="form-control" id="endDate" name="endDate" required
                   th:min="${#temporals.format(tomorrow, 'yyyy-MM-dd')}" th:field="*{endDate}"
                   th:errorclass="'is-invalid alert-danger'">
            <div class="invalid-feedback text-danger">Моля, въведете дата.</div>
        </div>
        <div th:if="${dateError}" class="alert alert-danger mb-3">
            Моля, въведете дата на напускане след дата на настаняване.
        </div>
        <div th:if="${bookStatus}" class="alert alert-danger mb-3">
            Бунгалото е резервирано за посочените дати.
        </div>
        <div class="mb-3">
            <label for="comment" class="form-label">Коментар</label>
            <input type="text" class="form-control comment-field" id="comment" name="comment"
                   th:field="*{comment}">
        </div >
        <div class="text-center">
        <button type="submit" class="btn btn-primary">Резервирай</button>
        </div>
    </form>
</div>

<!-- Footer -->
<footer th:replace = "~{fragments/common::footer}"> </footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/bungalow-section.js}"></script>
</body>
</html>
