<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common::head}"></head>
<body>

<nav th:replace="~{fragments/common::nav}"></nav>

<div class="container my-5 booking-form">
    <h2 style="margin-bottom: 40px; text-align: center;">Резервирай риболов</h2>
    <form th:action="@{/book-fishing}" th:method="post" th:object="${bookingData}">

        <div class="container my-5 d-none " id="fishing-spot-section">
            <h2 style="margin-bottom: 30px; text-align: center;">Риболовно място</h2>
            <div class="row justify-content-center">

                <div class="col-md-8 fishing-card">
                    <img id="fishingSpotImage" src="" alt= "fishingSpot Image">
                    <h3 id="number" ></h3>
                    <div class="wrap"><span>Описание: </span><span id="description" ></span> </div>
                    <div class="wrap"><span>Kапацитет: </span><span id="capacity" ></span><span> риболовци</span> </div>
                    <div class="wrap"><span>Дневна такса: </span><span id="dayPrice" ></span><span> лв./риболовец</span></div>
                    <div class="wrap"><span>Денонощна такса: </span><span id="dayAndNightPrice" ></span><span> лв./риболовец</span> </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="mb-2">
                <label for="fishingSpot" class="h4 mb-2"></label>
            </div>
            <select class="browser-default custom-select"
                    id="fishingSpot"
                    name="fishingSpot"
                    th:field="*{fishingSpot}"
                    th:errorclass="'is-invalid alert-danger'"
                    onchange="showFishingSpot(this.selectedIndex)">
                <option value="">Избери риболовно място</option>
                <option th:each="spot: ${allFishingSpots}"
                        th:value="${spot}"
                        th:text="${spot.number}">
                </option>
            </select>
            <small class="invalid-feedback text-danger">Моля, изберете риболовно място.</small>
        </div>

        <div class="form-group">
            <div class="mb-2">
                <label for="fishingHours" class="h4 mb-2"></label>
            </div>
            <select class="browser-default custom-select"
                    id="fishingHours"
                    name="fishingHours"
                    th:field="*{fishingHours}"
                    th:errorclass="'is-invalid alert-danger'">
                <option value="">Избери риболов</option>
                <option th:each="hour: ${allFishingHours}"
                        th:value="${hour}"
                        th:text="${hour.text}">
                </option>
            </select>
            <small class="invalid-feedback text-danger">Избери вид риболов.</small>
        </div>

        <div class="mb-3">
            <label for="fishermanCount" class="form-label">Брой риболовци</label>
            <input
                    type="text"
                    class="form-control form-control-sm"
                    id="fishermanCount"
                    name="fishermanCount"
                    th:field="*{fishermanCount}"
                    th:errorclass="'is-invalid alert-danger'"
                    required>
            <div class="invalid-feedback text-danger">Невалиден брой на риболовци.</div>
        </div>
        <div th:if="${countError}" class="alert alert-danger mb-3">
            Броя на риболовци превишава лимита на риболовното място.
        </div>

        <div class="mb-3">
            <label for="startDate" class="form-label">Дата на настаняване</label>
            <input type="date" class="form-control" id="startDate" name="startDate" required
                   th:min="${#temporals.format(today, 'yyyy-MM-dd')}" th:field="*{startDate}"
                   th:errorclass="'is-invalid alert-danger'">
            <div class="invalid-feedback text-danger">Моля, въведете дата.</div>
        </div>

        <div class="mb-3">
            <label for="endDate" class="form-label">Дата на напускане</label>
            <input type="date" class="form-control" id="endDate" name="endDate" required
                   th:min="${#temporals.format(today, 'yyyy-MM-dd')}" th:field="*{endDate}"
                   th:errorclass="'is-invalid alert-danger'">
            <div class="invalid-feedback text-danger">Моля, въведете дата.</div>
        </div>

        <div th:if="${dateError}" class="alert alert-danger mb-3">
            Моля, въведете дата на напускане след дата на настаняване.
        </div>
        <div th:if="${bookStatus}" class="alert alert-danger mb-3">
            Риболовното място е резервирано за посочените дати.
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Резервирай</button>
        </div>
    </form>
</div>

<!-- Footer -->
<footer th:replace = "~{fragments/common::footer}"> </footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/fishing-section.js}"></script>
<script>
    function showFishingSpot(id){
      if (id === ' ' ) {return}
      fetch('http://localhost:8080/fishing-spots/' + id)
          .then(e => e.json())
          .then(data => {

            document.getElementById('fishing-spot-section').classList.toggle('d-none',false)

            document.getElementById('fishingSpotImage').src = 'images/fishingSpot' + id + '.jpg';

            document.getElementById('number').textContent = id;

            document.getElementById('description').textContent = data.description;

            document.getElementById('capacity').textContent = data.capacity;

            document.getElementById('dayPrice').textContent = data.dayPrice;

            document.getElementById('dayAndNightPrice').textContent = data.dayAndNightPrice;

          })
          .catch(failure => console.log(failure))
    }
</script>
</body>
</html>
