<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <script th:src= "@{'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&callback=initMap'}" async defer></script>
    <script>
        function initMap() {
            var lakeLocation = {lat: 43.397954, lng: 27.718773};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: lakeLocation
            });
            var marker = new google.maps.Marker({
                position: lakeLocation,
                map: map
            });
        }
    </script>
</head>
<body>
<nav th:replace="~{fragments/common::nav}"></nav>
<div class="container my-5">
    <h1>Връзка с нас</h1>
    <form th:action="@{/contact}"
          th:method="POST">
        <div class="form-group my-5">
            <label for="name">Име</label>
            <input type="text" class="form-control"
                   id="name"
                   name="name"
                   required>
        </div>
        <div class="form-group">
            <label for="email">Имейл</label>
            <input type="email" class="form-control"
                   id="email"
                   name="email" required>
        </div>
        <div class="form-group">
            <label for="message">Съобщение</label>
            <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Изпрати съобщение</button>
    </form>

    <h2 class="my-5">Нашето местоположение</h2>
    <div id="map"></div>
</div>
<footer th:replace = "~{fragments/common::footer}"> </footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
