<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common::head}"></head>
<body>
<!-- Navigation Bar -->
<nav th:replace="~{fragments/common::nav}"></nav>

<!-- Hero Section -->
<div class="hero" >
    <div class="overlay"></div>
    <div class="hero-content text-center text-white">
        <h1>Здравей, <span th:text="${user.toString()} + '!'"></span></h1>
        <p>Направи своята резервация за риболов или нощувка в бунгало</p>
        <a th:href="@{/book-bungalow}" class="btn btn-primary">Нощувка</a>
        <a th:href="@{/book-fishing}" class="btn btn-primary">Риболов</a>
    </div>
</div>

<!-- Content Section -->
<div class="container my-5 text-center">
    <div class="row">
        <div class="col-md-6">
            <h2>За риболова</h2>
            <p>В язовира има богат избор от трофейни сладководни риби. </p>
        </div>
        <div class="col-md-6" >
            <h2>Текущи метеоданни:</h2>
            <div>
                <p>Температура на въздуха: <span th:text="${temperature}">Температура на въздуха</span> °C</p>
                <p>Скорост на вятъра: <span th:text="${wind}">Скорост на вятъра</span> м/с</p>
                <p>Валежи: <span th:text="${rain}">Валежи</span></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer th:replace = "~{fragments/common::footer}"> </footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
