<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common::head}"></head>
<body>
<!-- Navigation Bar -->
<nav th:replace="~{fragments/common::nav}"></nav>

<!-- Hero Section -->
<div class="hero" style="background-image: url('/images/homeBackground.jpg');">
    <div class="overlay"></div>
    <div class="hero-content">
        <h1>Отзиви на клиенти</h1>
        <p>Споделете вашето мнение за нашето обслужване и условия.</p>
    </div>
</div>
<!-- Content Section -->
<div class="container my-5">
    <h2 class="text-center">Оставете своя отзив</h2>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form th:action="@{/review/add}"
                  th:method="POST"
                  th:object="${reviewDto}"
            >
                <div class="mb-3">
                    <label th:for= "rating" class="form-label">Оценка</label>
                    <div class="star-rating">
                        <input type="radio"
                               id="5-stars"
                               name="rating"
                               value="5"
                               th:field="*{rating}"
                               th:classappend="${#fields.hasErrors('rating')}?'is-invalid alert-danger'" required>
                        <small th:errors="*{rating}" id="ratingError" class="invalid-feedback text-danger"></small>
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value="4">
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value="3">
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value="2">
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value="1">
                        <label for="1-star" class="star">&#9733;</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label th:for="comment" class="form-label">Коментар</label>
                    <textarea class="form-control"
                              id="comment"
                              name="comment"
                              rows="3"
                              th:field="*{comment}"
                              th:classappend="${#fields.hasErrors('comment')}?'is-invalid alert-danger'" required>
                    </textarea>
                    <small th:errors="*{rating}" id="commentError" class="invalid-feedback text-danger"></small>
                </div>
                <button type="submit" class="btn btn-primary">Изпрати</button>
            </form>
        </div>
    </div>
</div>

<footer th:replace = "~{fragments/common::footer}"> </footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
