<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common::head}"></head>
<body>
<!-- Navigation Bar -->
<nav th:replace="~{fragments/common::nav}"></nav>
<div class="container-fluid my-5 profile-container">
    <h1>Моят профил</h1>
    <form th:action="@{/user/update}"
          th:method="POST"
          th:object="${userInfo}"
          novalidate>
        <div class="form-group">
            <label for="firstName">Име:</label>
            <input type="text"
                   class="form-control form-control-sm"
                   id="firstName"
                   name="firstName"
                   th:field="*{firstName}"
                   th:classappend="${#fields.hasErrors('firstName')}?'is-invalid alert-danger'" required>
            <small th:errors="${changeUserData.firstName}" id="firstNameNameError"
                   class="text-danger"></small>
        </div>
        <div class="form-group">
            <label for="lastName">Фамилия:</label>
            <input type="text"
                   class="form-control form-control-sm"
                   id="lastName"
                   name="lastName"
                   th:field="*{lastName}"
                   th:classappend="${#fields.hasErrors('lastName')}?'is-invalid alert-danger'" required>
            <small th:errors="${changeUserData.lastName}" id="lastNameError"
                   class="text-danger"></small>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Телефонен номер:</label>
            <input type="text"
                   class="form-control form-control-sm"
                   id="phoneNumber"
                   name="phoneNumber"
                   th:field="*{phoneNumber}"
                   th:classappend="${#fields.hasErrors('phoneNumber')}?'is-invalid alert-danger'" required>
            <small th:errors="${changeUserData.phoneNumber}" id="phoneNumberError"
                   class="text-danger"></small>
        </div>
        <div th:if="${success}" class="alert alert-danger mb-3">Успешна редакция!</div>
        <button type="submit" class="btn btn-primary btn-sm">Промени профил</button>
    </form>

    <div class="container-fluid my-5 profile-container">
    <h2>Промени парола</h2>
    <form th:action="@{/user/change-password}"
          th:method="POST"
            th:object="${passwordData}">
        <div class="form-group">
            <label for="password">Стара парола:</label>
            <input type="password"
                   class="form-control form-control-sm"
                   id="password"
                   name="password"
                   th:field="*{oldPassword}"
                   th:classappend="${#fields.hasErrors('oldPassword')}?'is-invalid alert-danger'" required>
            <small th:errors="*{oldPassword}" id="oldPasswordError"
                   class="invalid-feedback text-danger"></small>
        </div>
        <div class="form-group">
            <label for="newPassword">Нова парола:</label>
            <input type="password"
                   class="form-control form-control-sm"
                   id="newPassword"
                   name="newPassword"
                   th:field="*{newPassword}"
                   th:classappend="${#fields.hasErrors('newPassword')}?'is-invalid alert-danger'" required>
            <small th:errors="*{newPassword}" id="newPasswordError"
                   class="invalid-feedback text-danger"></small>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Въведи отново новата парола:</label>
            <input type="password"
                   class="form-control form-control-sm"
                   id="confirmPassword"
                   name="confirmPassword"
                   th:field="*{confirmPassword}"
                   th:classappend="${#fields.hasErrors('confirmPassword')}?'is-invalid alert-danger'" required>
            <small th:errors="*{confirmPassword}" id="confirmPasswordError"
                   class="invalid-feedback text-danger"></small>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Промени парола</button>
    </form>

        <div th:if="${passwordMatch}" class="alert alert-danger mb-3">Паролата е променена успешно!</div>
        <div th:if="${passwordMismatch}" class="alert alert-danger mb-3">Грешна парола.</div>

</div>
</div>
<div class="container-fluid my-5 profile-container">
    <form th:object="${userInfo}"
          th:action="@{/user/delete/{id}(id=*{getId()})}"
          th:method="DELETE">
    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Сигурни ли сте, че искате да изтрите профила си?');">Изтрий профил</button>
    </form>
</div>

<footer th:replace = "~{fragments/common::footer}"> </footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
